CREATE DATABASE [Books_En]
GO
USE [Books_En]
GO
/****** Object:  Table [dbo].[Books_En]    Script Date: 1/9/2018 10:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books_En](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[New] [bit] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [money] NULL,
	[Pages] [int] NULL,
	[Format] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Pressrun] [float] NULL,
	[Category] [nvarchar](100) NULL,
	[Publisher] [nvarchar](100) NULL,
	[Topic] [nvarchar](100) NULL
) ON [PRIMARY]

SET IDENTITY_INSERT [dbo].[Books_En] ON 

INSERT [dbo].[Books_En] ([Id], [Code], [New], [Name], [Price], [Pages], [Format], [Date], [Pressrun], [Category], [Publisher], [Topic]) VALUES (1, 4704, 0, N'Tutorial work on a personal computer: 3rd ed., Ext.', 17.4000, 640, N'70х100/16', CAST(N'2000-02-23T00:00:00.000' AS DateTime), 10000, N'Applications to books on CD-ROM and floppy disks', N'BHV Kiev', N'Using a PC as a whole')
INSERT [dbo].[Books_En] ([Id], [Code], [New], [Name], [Price], [Pages], [Format], [Date], [Pressrun], [Category], [Publisher], [Topic]) VALUES (2, 5110, 0, N'Hardware media. PC Video System', 15.5100, 400, N'70х100/16', CAST(N'2000-07-24T00:00:00.000' AS DateTime), 5000, N'Applications to books on CD-ROM and floppy disks', N'BHV St. Petersburg', N'Using a PC as a whole')
INSERT [dbo].[Books_En] ([Id], [Code], [New], [Name], [Price], [Pages], [Format], [Date], [Pressrun], [Category], [Publisher], [Topic]) VALUES (3, 4316, 0, N'The basic operation of your PC', 19.9100, 440, N'70х100/16', CAST(N'2000-01-11T00:00:00.000' AS DateTime), 3000, N'Applications to books on CD-ROM and floppy disks', N'BHV St. Petersburg', N'Using a PC as a whole')
GO
SET IDENTITY_INSERT [dbo].[Books_En] OFF
ALTER TABLE [dbo].[Books_En] ADD  CONSTRAINT [DF_Books_En_New]  DEFAULT ((1)) FOR [New]
GO
